.card.card-blog{
    [class*=col-]{
        .card-image{
            .img{
                border-radius: $border-radius-extreme;
            }
        }
    }
}
.blog-1{
    .card-blog{
        margin-bottom: 80px;
    }
}
.blog-3{
    .card-blog{
        margin-bottom: 40px;
    }
}

.blog-detail {

    .title {
        color: #66615b;
    }

    .header-post {
        position: relative;

        .btn-edit {
            position: absolute;
            bottom: 0;
            right: 95px;
            .fa {
                margin-right: 10px;
                font-size: 18px;
            }
        }
    }

    .article-content {
        h4 {
            margin-bottom: 30px;
            font-weight: 500;
            line-height: 1.5;
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
            font-weight: 300;
        }
        h5 {
            margin-bottom: 10px;
            font-weight: 500;
        }
        .list-item-p {
            margin-bottom: 0;
        }
        .list-item-p + h5 {
            margin-top: 25px;
        }
    }
}

.gradient-section {
    h1 {
        color: rgb(235, 230, 230);
    }
    h3 small {
        color: rgb(194, 188, 188);
        // color: white;
    }
}
