.avatar-form {
  .fileinput {
    margin-top: 0;
    div {
      position: relative;
      transition: .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .hover-img {
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        .fa {
          color: white;
          font-size: 40px;
          width: 40px;
        }
      }
      &:hover {
        .hover-img {
          opacity: 1;
          background-color: rgba($color: #000000, $alpha: .3);
        }
      }
    }
  }
}

.logged-dropdown {
  display: flex;
  align-items: center;
  .avatar {
    margin: 0 0 !important;
    img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
}

.d-flex-center {
  display: flex !important;
  align-items: baseline;
}