.interation-amount {
  width: 729.99px;
  height: 60px;

  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px #ddd solid;
  background-color: #eee;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  z-index: 30;

  .amount-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }
}
.item-icon-container {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: ease-in-out .2s;
  .fa {
    font-size: 24px;
    width: 25px;
    height: 25px;
    color: white;
    &.fa-heart {
      height: 22px;
      &.selected {
        color: rgb(204, 31, 31);
      }
    }
    &.fa-commenting {
      &.selected {
        color: rgb(73, 73, 226);
      }
    }
    &.fa-thumb-tack {
      &.selected {
        color: rgb(184, 184, 6);
      }
    }
    &.fa-book {
      &.selected {
        color: rgb(12, 177, 12);
      }
    }
  }
  &:hover {
    border: 2px solid #aaa;
    cursor: pointer;
  }
}

@media (max-width:1267px) and (min-width:1024px) {
    .interation-amount {
      width: 609.98px;
      height: 60px;
    }
}