@keyframes Floatingxr {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(150px, 0);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

@keyframes Floatingxl {
  from {
    -webkit-transform: translate(150px, 150px);
  }
  65% {
    -webkit-transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(150px, 150px);
  }
}

@keyframes Floatingyb {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 150px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

@keyframes Floatingyt {
  from {
    -webkit-transform: translate(0, 150px);
  }
  65% {
    -webkit-transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(0, 150px);
  }
}

@keyframes Floatingydb {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(150px, 150px);
  }
  to {
    -webkit-transform: translate(0, 0px);
  }
}

@keyframes Floatingdt {
  from {
    -webkit-transform: translate(150px, 150px);
  }
  65% {
    -webkit-transform: translate(0, 0);
  }
  to {
    -webkit-transform: translate(150px, 150px);
  }
}

@keyframes Floatingdtr {
  from {
    -webkit-transform: translate(50px, 110px);
  }
  65% {
    -webkit-transform: translate(230px, -50px);
  }
  to {
    -webkit-transform: translate(50px, 110px);
  }
}

.grid.grid--loaded .grid__item {
  position: absolute;
}
.grid.grid--loaded .grid__item.sixth-card {
  left: 400px;
}
.grid.grid--loaded .grid__item.third-card {
  left: 800px;
}
.grid__item .grid__link .grid__img{
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
}
.grid__item .grid__link .grid__img:hover{
  transform: translate3d(-22px, -28px, 16px);
}
