.card-register {
  background-color: rgba($color: #f5f5f5, $alpha: 0.8);
  border-radius: 8px;
  // color: #fff;
  margin: 20px 0 20px;
  min-height: 400px;
  padding: 30px;

  & .card-title {
    color: #B33C12;
    text-align: center;
    padding: 0;
  }
  & .btn {
    margin-top: 30px;
  }
  & .forgot {
    text-align: center;
    button {
      color: white;
    }
  }
}

.card-login {
  label {
    // color: white;
  }
}
